.select{
    background-color: purple;
  }
  .ingselect{
    background-color: rgb(255, 204, 0);
  }
  .qnselect{
    background-color: green;
  }
  .selectInst{
    background-color: orange;
  }
  .timeselect{
    background-color: blue;
  }